cbor==1.0.0
HeapDict==1.0.1
ijson==3.2.0.post0
multiset==2.1.1
pyjnius==1.4.2
python-dateutil==2.8.2
pytrec-eval-terrier==0.5.5
pytz==2023.3
PyYAML==6.0
six==1.16.0
soupsieve==2.4
threadpoolctl==3.1.0
tqdm==4.65.0
typish==1.9.3
tzdata==2023.3
unlzw3==0.2.2
urllib3==1.26.15
warc3-wet==0.2.3
warc3-wet-clueweb09==0.2.5
wget==3.2
wrapt==1.15.0
zlib-state==0.1.5
